.App {
  font-family: sans-serif;
  text-align: center;
}

.calDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #81f495;
}

.calDiv > button {
  margin: 5px;
  width: 250px;
  height: 30px;
  border: none;
  background-color: #a9e4ef;
  color: #7a306c;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
}

.count {
  font-size: 50px;
  color: #7a306c;
  border: 1px solid black;
  width: 250px;
  height: 100px;
  text-align: center;
}
